[submodule "src/argparse-zig"]
	path = src/argparse-zig
	url = https://github.com/bondrewd/argparse-zig.git
[submodule "src/ansi-zig"]
	path = src/ansi-zig
	url = https://github.com/bondrewd/ansi-zig.git
[submodule "src/la-zig"]
	path = src/la-zig
	url = git@github.com:bondrewd/la-zig.git
